{% extends 'network/layout.html' %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Login here</legend>
            </fieldset>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <small class="text-muted">Don't have an account</small><a class="ml-2" href="{% url 'register' %}">Register here.</a>
    </div>
{% endblock %}